sudo: required

env:
  - REPO_NAME=samos123/tempest

services:
  - docker

script:
  - if [[ $TRAVIS_BRANCH = master ]]; then
        export FULL_REPO=$REPO_NAME:latest;
        docker build -t $REPO_NAME:latest .;
    else
        export FULL_REPO=$REPO_NAME:$TRAVIS_BRANCH;
        docker build -t $REPO_NAME:$TRAVIS_BRANCH .;
    fi
  - echo $FULL_REPO
  - mkdir tempest-home
  - docker run -v tempest-home:/tempest-home $FULL_REPO /bin/bash -c "tempest init"
  - ls -lash tempest-home

after_success:
  - docker login --email=$DOCKER_EMAIL --username=$DOCKER_USERNAME --password=$DOCKER_PASSWORD
  - docker push $FULL_REPO

before_deploy:
  - mkdir build
  - docker save $FULL_REPO > build/tempest-$TRAVIS_BRANCH.tar
  - gzip build/tempest-$TRAVIS_BRANCH.tar
  - ls -lash build

deploy:
  provider: bintray
  file: "bintray.json"
  user: "samos123"
  skip_cleanup: true
  on:
    tags: false
    all_branches: true
  key:
    secure: xQXUFGbfAizeXUipW7cxRKcxeaAgmI2sRDyQkMvF6mVPK8bELVfRLef+uAh8ojipXq9Qw97rnXKYGAyuslv2XKe7MmJvdqYYp/IboKQKMvKyO2mzeBhg7NTO9kIi5LoRNJ/+Xx4Rwu8nTo3V3rRxe3cjaLdEBYUkCOXopgErJ374E/KHKCBa3YZDrowBtJU3JT/c27bEB/IZ3VTHDLpf2T1PliFS2qt3KX1kF3aLgH0+EAJdpoiqiW7m/kh5OQoVixjUAb9JtvH75z6dV0Il7K4dFVdQ92unVrTGXTDHTqyteQc+QDL6lwIKmxtcqjWZUg7ziHSdb8hbPZ+BgPxknXI4OFXg37kEibSJAePp2EtIMl9rs6w1SS3AgR0OXri/1AEPmXBGbd9CNSbE07DJdvNfZ5ZUEakUOSPVkyb7yaMOZTG+r62v7sNVHmdUZmtQ8CuftXN4miyAyp/PK0JyfkdunEpGlWVMUsZgq1CnVEvL+DVEAgIW6QpWdNnwqqiILxA6Q4Lz5ihMMiBNezQWOOJFzaRH5bY/8CZmZXVlDdg9sopejnWwPrFR9CzcVzRPJ+I38O9oCw+/neoL1Nv/cdth4tHRY3JGl7rgBAvGY1Tyxw1IftW2nhIzCuszk4UFE3gZi8GFX+jt5Tsjp6+GJTCASN0qPdLYJJ1pyNgek4o=
